<html>
  <body>
    <h1>Hello World! Working together for free software</h1>
    <a href="/frames/">FRAMES</a href>
    <p>This testing page was created on {{ ansible_date_time.date }}.</p>
  </body>
</html>
